@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

@*@Html.Action("PartialHead", "Default")*@

<body>

    @*@Html.Action("PartialNavbar", "Default")*@

    <!-- Header Start -->
    @Html.Action("ContactHeaderPartial", "Contact")
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">İletişime Geçin</span>
                </p>
                <h1 class="mb-4">Herhangi bir soru için bize ulaşın</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                         @Html.Action("ContactMessage","Contact")
                        </form>
                    </div>
                </div>

                @Html.Action("ContactAddressPartial", "Contact")
            </div>
        </div>
    </div>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48152.649416616994!2d29.006529801238738!3d41.035305908499545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac826d524c9f1%3A0xc14f7612337b7f38!2zw5xza8O8ZGFyL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1709250485662!5m2!1str!2str" width="1000" height="450" style="border:0; margin-left:270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>
</html>